* {
  color: brown;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;  
}

nav span {
    color: blue;
    transition: 300ms;
    cursor: pointer;
}

nav span:hover {
    color: blueviolet;
    text-decoration: underline;
    background-color: cadetblue;
}

#primeiro, .segundo, .navigation {
    border: 5px solid black;
    padding: 15px;
    margin: 5px;
}